# =====================================================================
# 🚀 PROYECTO: PreVia Láctea (Web App)
# 👤 DESARROLLADO POR: Varelx
# 📅 AÑO: 2026
# =====================================================================

# Dependencias y Entornos
node_modules/

# Archivos del sistema operativo
.DS_Store

# Entornos de Editores de Código
.vscode/

# Logs, Caché y Compilaciones Temporales
*.log
